openapi: 3.2.0
info:
  title: Messente Statistics API
  version: 2.1.0
  description: Messente is a global CPaaS provider of messaging and user verification services based in Estonia.
  contact:
    name: Messente Support
    url: https://messente.com/documentation
    email: messente@messente.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.messente.com/v1
  description: Messente production API
security:
- basicAuth: []
tags:
- name: Statistics
  description: Request messaging statistics reports by country.
paths:
  /statistics/reports:
    post:
      tags:
      - Statistics
      summary: Requests statistics reports by country
      operationId: createStatisticsReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatisticsReportSettings'
      responses:
        '200':
          description: Statistics report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticsReportSuccess'
components:
  schemas:
    StatisticsReport:
      type: object
      properties:
        country:
          type: string
        mccmnc:
          type: string
        sent:
          type: integer
        delivered:
          type: integer
        failed:
          type: integer
    StatisticsReportSuccess:
      type: object
      properties:
        reports:
          type: array
          items:
            $ref: '#/components/schemas/StatisticsReport'
    StatisticsReportSettings:
      type: object
      properties:
        startDate:
          type: string
        endDate:
          type: string
        mccmnc:
          type: array
          items:
            type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API username and password from the Messente dashboard API settings.
